.title {
  height: 50px;
  padding: 0 20px;
  border: none;
  font-size: 24px;
  outline: none;
  box-shadow: none;
  flex: 1;
  margin-bottom: 5px;
}

.operate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}